<html>
<nav class="navbar navbar-light bg-light">
  <a routerLink="" class="navbar-brand">Trang chủ</a>
  <a></a>
  <form class="form-inline">
    <input style="width: 38%" class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm vào đây" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
  </form>
</nav>
<router-outlet></router-outlet>
<br><br><br>
</html>
<hr>
<div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>© All Rights Reserved by <a href="https://www.facebook.com/hoanghieuvnhd">Thông tin nhà cái<i class="fa fa-love"></i></a></p>
        <p>© Gmail: xuanhieuvn@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<style>
  html{
    background-color: palegoldenrod;
    height: 500px;
  }

</style>
