<html>
<nav class="navbar navbar-light bg-light">
  <a routerLink="" class="navbar-brand">Trang chủ</a>
  <a></a>
  <form class="form-inline">
    <input style="width: 90%" class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm vào đây" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
  </form>
</nav>
<router-outlet></router-outlet>
<br><br><br>
</html>
<div class="container my-5">

  <footer class="text-xxl-center text-dark-start" style="background-color: #56fd32;">
    <div class="text-center text-dark p-3" style="background-color: rgb(250,181,153);">
      <p>© Tất cả bản quyền được bảo lưu bởi <a href="https://www.facebook.com/hoanghieuvnhd">Thông tin nhà cái<i class="fa fa-love"></i></a></p>
      <p>© Gmail: xuanhieuvn@gmail.com</p>
      <p>© Di động: 0986886222</p>
    </div>
    </footer>
</div>

