<html>
<nav class="navbar navbar-light bg-light">
  <a routerLink="" class="navbar-brand">Trang chủ</a>
  <a></a>
  <form class="form-inline">
    <input style="width: 38%" class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm vào đây" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
  </form>
</nav>
<router-outlet></router-outlet>
<br><br><br>
</html>
<style>
  html{
    background-color: #fab599;
    height: 600px;
  }
</style>
<div class="container my-5">

  <footer class="text-center text-lg-start" style="background-color: #56fd32;">
       <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgb(250,181,153);">
      <p>© All Rights Reserved by <a href="https://www.facebook.com/hoanghieuvnhd">Thông tin nhà cái<i class="fa fa-love"></i></a></p>
      <p>© Gmail: xuanhieuvn@gmail.com</p>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->
