
<div class="row">
<!--  <div class="col-6">-->
<!--    <img width="100%" src="https://api.thinkview.vn/uploads/backend/2022/8/16/thinkview-lo-ngay-ra-mat-iphone-14-series.jpg" alt="">-->
<!--  </div>-->
  <div class="col-6">
    <h3>Tên: {{product.name}}</h3>
    <h4>Giá: {{product.price}}</h4>
    <h4>Mô tả thêm: {{product.description}}</h4>
    <h4>Hãng sản xuất:{{product.brand.name}}</h4>
    <button routerLink="" style="margin-left: 20px;background-color: rgba(0,0,0,0.08);color: white" class="col-lg-3">Quay lại</button>
  </div>
</div>
